.iconrect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 10px;

    width: 125px;
    height: 125px;

    background: linear-gradient(270deg, #5BA4FA 0%, #0788FF 100%), #D9D9D9;
    border-radius: 25px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}