.pluscard {
    box-sizing: border-box;
    width: 336px;
    height: 192px;
    border: 2px solid #2893FE;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}